<template name="BigButtons">
    <!--<div class="row">-->


        <!--<div class="col-md-12 text-center">-->
            <!--<i class="ion-coffee big-icon"></i>-->
            <!--<span>-->
                <!--vs-->
            <!--</span>-->
            <!--<i class="ion-coffee big-icon"></i>-->
        <!--</div>-->


    <!--</div>-->

    <div class="row">
        <div class="col-md-3 text-center">
            <a href="#">
                <i class="ion-map side-panel-toggle big-icon"></i>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <a href="#">
                <i class="ion-briefcase controll-panel-toggle big-icon"></i>
            </a>
        </div>

        <div class="col-md-3 text-center">
            <i class="{{getCurrentStoneIcon}} big-icon {{isTurn}}"></i>
            {{#if getSessionVal 'active-game'}}
            {{else}}
            <h4> no game selected </h4>
            {{/if}}
        </div>

        <div class="col-md-3 text-center">
            <a href="#"><i class="ion-jet create-game big-icon"></i></a>
        </div>
    </div>
</template>
