<template name="BigButtons">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="#">
                <i class="ion-more side-panel-toggle big-icon"></i>
            </a>
        </div>

        <div class="col-md-4 text-center">
            <i class="{{getCurrentStoneIcon}} big-icon {{isTurn}}"></i>
            {{#if getSessionVal 'active-game'}}
            {{else}}
            <h4> no game selected </h4>
            {{/if}}
        </div>

        <div class="col-md-4 text-center">
            <a href="#"><i class="ion-power logout big-icon"></i></a>
        </div>
    </div>
</template>
