<template name="ControlPanel">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> controlls}}
        </div>
    </div>
</template>


<template name="controlls">
    <div class="controlls">
        <div class="row">
            <div class="col-xs-6 col-md-2 text-center {{isDisabled}}">
                <i class="ion-pinpoint controll"
                   data-toggle="tooltip" 
                   data-placement="top" 
                   title="score"></i>
                <p>
                {{getScore}}
                </p>
            </div>
            <div class="col-xs-6 col-md-2 text-center {{isDisabled}}">
                <i class="ion-ios-pulse controll"
                   data-toggle="tooltip" 
                   data-placement="top" 
                   title="opponent's score"></i>
                <p>
                {{getRivalScore}}
                </p>
            </div>
            <div class="col-xs-6 col-md-2 text-center {{isDisabled}}">
                <a href="#" id="resign">
                    <i class="ion-heart-broken controll"
                       data-toggle="tooltip" 
                       data-placement="top" 
                       title="resign from game"></i>
                </a>
            </div>
            <div class="col-xs-6 col-md-2 text-center {{isDisabled}}">
                <a href="#" id="pass" class="{{isTurn}}">
                    <i class="ion-checkmark-round controll"
                       data-toggle="tooltip" 
                       data-placement="top" 
                       title="pass"></i>
                </a>
            </div>

            <!--<div class="col-xs-6 col-md-2 text-center">-->
                <!--<a href="#" id="sendMessage">-->
                    <!--<i class="ion-paper-airplane controll"-->
                       <!--data-toggle="tooltip" -->
                       <!--data-placement="top" -->
                       <!--title="Send Message to Rival"></i>-->
                <!--</a>-->
            <!--</div>-->

            <div class="col-xs-6 col-md-2 text-center">
                <a href="#" id="logout">
                    <i class="ion-flash-off controll"
                       data-toggle="tooltip" 
                       data-placement="top" 
                       title="logout"></i>
                </a>
            </div>
        </div>
    </div>
</template>
