<!--http://startbootstrap.com/template-overviews/simple-sidebar/-->
<template name="layout">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    active games 
                </li>
                {{#each game}}
                <li><a href="#" class='active-game {{playersTurn}} {{loadedOnScreen}}'>{{getGameTitle this}}</a></li>
                {{/each}}
                <li class="sidebar-brand">
                   create game 
                </li>
                {{> createGame}}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--<a href="#menu-toggle" id="menu-toggle"><i class="ion-ios-pulse-strong"></i></a>-->
            <div class="container-fluid">
                {{#momentum plugin='slide-height'}}
                    {{#if getPanel}}
                        <div class="row">
                            {{> UI.dynamic template=getPanel}}
                        </div>
                    {{/if}}
                {{/momentum}}

                {{> BigButtons}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            {{#if isShowBoard}}
                            {{> board }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</template>


<template name="testTemplate">
    <div class="panel panel-default">
        <div class="panel-body">
         <h3>Invite player to a game:</h3>  
          
        </div>
    </div>
</template>
