<template name="Login">
    <div id="login-page">
        <div class="row">
            <div id="icon-box" class="col-xs-12 text-center">
                {{#momentum plugin='slide-height'}}
                {{#if getSessionVal 'show-signup'}}
                <a href="#"><i id="signup-icon" class="{{getLoginIcon}} link"></i></a>
                <p>(sign-up)
                </p>
                {{else}}
                <a href="#"><i id="login-icon" class="{{getLoginIcon}} link"></i></a>
                {{/if}}
                {{/momentum}}
            </div>
        </div>
    </div>
</template>

