/* CSS declarations go here */

#background{
    /* padding: 100px; */
    background:#B48F60;
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 0;*/
}

#forground{
    /* padding: 100px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#canvasWrapper {
    position: relative;
    width: 1000px;
    height: 1000px;

    margin-left:auto;
    margin-right:auto;
}

.sidebar-nav .active-turn{
    color: green;
}

.sidebar-nav .on-screen{
    background-color: #333333
}

#term {
    position:absolute;
    width:100%;
    height: 100%;
}

#menu-toggle {
    position:absolute;
    top: -6px;
    left: 2px;
    font-size:21px;
    opacity: .5;
}

.big-icon {
    font-size: 75px;
}

.big-icon.inactive {
    opacity: 0.5;
}

.player.online a{
    color: green;
}

.player.idle a{
    color: yellow;
}
